body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.github-link {
    margin-bottom: 10px;
}

.github-link a {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 24px;
    color: green;
    margin: 0;
}

.input-group {
    margin: 10px 0;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 5px;
    font-size: 14px;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: darkgreen;
}

#results {
    margin-top: 20px;
}

#results h2 {
    color: green;
    margin-bottom: 10px;
}

#results p {
    font-size: 16px;
    margin: 5px 0;
}
